unset LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${HOME}/softs/install/opencv-3.1.0-debug-static/lib:$LD_LIBRARY_PATH
export PKG_CONFIG_PATH=${HOME}/softs/install/opencv-3.1.0-debug-static/lib/pkgconfig:$PKG_CONFIG_PATH

